{% extends 'base.html' %}

{% load static %}

{% block title %}
    Publico
{% endblock title %}

{% block content %}

<strong><a href="{% url 'eventos:criar-evento' %}" class="btn btn-primary btm-sm">Incluir Eventos</a></strong>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Descrição</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>

    {% for i in object_list %}
      <tr>
        <td>{{ i.descr }}</td>
        <td>{{ i.ativo }}</td>
        <td>
          <a href="{% url 'eventos:atualizar-evento' i.id %}" class="btn btn-warning btn-sm"> E <i class="bi bi-trash"></i></a>
          <a href="{% url 'eventos:excluir-evento' i.id %}" class="btn btn-danger btn-sm"> X </a>
        </td>
      </tr>
    {% empty %}
      <tr>Nenhum registro</tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
