{% extends 'base.html' %}

{% load static %}

{% block title %}
    Publico
{% endblock title %}

{% block content %}

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <td colspan="3">
        <h3>{{ titulo }}</h3>
      </td>
      <td>
      {% if request.user.is_authenticated %}
        <strong><a href="{% url 'eventos:criar-publico' %}" class="btn float-right btn-primary btm-sm">Incluir Publico</a></strong>
      {% endif %}
      </td>
      <td></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>Nick</th>
      <th>E-Mail</th>
      <th>Agrupamento</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>

    {% for i in object_list %}
      <tr>
        <td>{{ i.nick }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.publico_filho|default_if_none:"Grupo" }}</td>
        <td>{{ i.ativo }}</td>
        <td>
          {% if request.user.is_authenticated %}
          <a href="{% url 'eventos:atualizar-publico' i.id %}" class="btn btn-warning btn-sm"> E </a>
          <a href="{% url 'eventos:excluir-publico' i.id %}" class="btn btn-danger btn-sm"> X </a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5"> Nenhum registro</td></tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
