{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sessão do Evento
{% endblock title %}

{% block content %}

<p>
    {% include 'eventos/menu.html' %}
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Descrição</th>
      <th>Regras</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>

    {% for i in object_list %}
      <tr>
        <td>{{ i.descr }}</td>
        <td>{{ i.regras }}</td>
        <td>{{ i.ativo }}</td>
        <td>
          <a href="{% url 'eventos:atualizar-sessao-evento' i.id %}" class="btn btn-warning btn-sm"> E </a>
          <a href="{% url 'eventos:excluir-sessao-evento' i.id %}" class="btn btn-danger btn-sm"> X </a>
        </td>
      </tr>
    {% empty %}
      <tr>Nenhum registro</tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
