{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-md-8">

      <div class="wrapper">
      {% if acao_af == "radio" %}
        <div class="status">Serial</div>
        <div class="valor">id</div>
        <div class="status">Ação</div>
      {% else %}
        <div class="status">Serial</div>
        <div class="status">Origem</div>
        <div class="status">Operação</div>
        <div class="status">Descrição</div>
        <div class="status">Informado</div>
        <div class="status">Ação</div>
      {% endif %}
      </div>
        
      {% for i in item %}

      <div class="linha wrapper">
      {% if acao_af == "radio" %}
        <div class="status">{{ i.serial }}</div>
        <div class="status">{{ i.id }}</div>
      {% else %}
        <div class="status">{{ i.radios.serial }}</div>
        <div class="status">{{ i.capamov.origem }}</div>
        <div class="status">{{ i.tipooperacao.operacao }}</div>
        <div class="status">{{ i.descricao }}</div>
        <div class="status">{{ i.dado }}</div>
      {% endif %}

        <div class="status">
          <form action="del/{{i.id}}/{{ acao_af }}" method="POST">
            {% csrf_token %}
            
            <button value="remove" type="submit"  class="btn btn-primary"><i class="bi-trash"></i> &nbsp; remove</button>
          </form>
        </div>
      </div>

      {% endfor%}
    </div>

    <div class="col-md-3" >
      <div  class="submit_form">

      <p class="status">Adicionar um novo
      {% if acao_af == "radio" %}
        Radio
      {% else %}
        Movimento
      {% endif %}
      </p>
      <form  method="POST">
        {% csrf_token %}
        {{forms|crispy}}
        <center>
        <input type="submit" class="btn btn-default" value="submit" />
      </center>
      </form>

      <a href="carga/">Carregar</a>
      <strong><a href="radio">Radios</a></strong>
      <strong><a href="movimento">Movimento</a></strong>

    </div>

  </div>

</div>

{% endblock content %}
