{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Eventos
{% endblock title %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info">
        <strong>{{message}}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">

    <form action="" method="post">
      {% csrf_token %}
      
      {{ form | crispy }}
      
      <button type="submit" class="btn btn-primary">Gravar</button>
      <a href="/eventos" class="btn btn-danger">Go Back</a>
    </form>
  
  </div>

{% endblock content %}

