{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ Eventos }}
{% endblock title %}

{% block content %}

<p>
  {% include 'eventos/menu.html' %}
</p>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info">
        <strong>{{message}}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    
    <p>
      Confirma excluir o registro <strong>{{ object }} </strong>?
    </p>

    <form action="" method="post">
      {% csrf_token %}
      
      {{ form.as_p }}
      
      <button type="submit" class="btn btn-danger">Confirmo</button>
    </form>
  
  </div>

{% endblock content %}

