<strong><a href="{% url 'eventos:listar-evento' %}">Inicio</a></strong>
    <strong><a href="{% url 'eventos:criar-evento' %}">Incluir Eventos</a></strong>
    <strong><a href="{% url 'eventos:criar-sessao-evento' %}">Incluir Sessões</a></strong>
    <strong><a href="{% url 'eventos:criar-publico' %}">Incluir Publico</a></strong>

<br>
<strong><a href="{% url 'eventos:listar-evento' %}">Inicio</a></strong>
    <strong><a href="{% url 'eventos:listar-evento' %}">Listar Eventos</a></strong>
    <strong><a href="{% url 'eventos:listar-sessao-evento' %}">Listar Sessões</a></strong>
    <strong><a href="{% url 'eventos:listar-publico' %}">Listar Publico</a></strong>

<br>
<strong><a href="{% url 'eventos:listar-evento' %}">Inicio</a></strong>
    <strong><a href="{% url 'eventos:importar-eventos' %}">Carregar</a></strong>

