{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Loja{% endblock title %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm py-3 border-bottom navbar-light">
        <div class="container">
            <a href="{% url 'pce001:home' %}" class="navbar-brand">
                <span class="font-weight-bold h3">Loja Python</span>
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="{% url 'products:list' %}" class="nav-link lead mr-4 font-weight-bold">Produtos</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'pce001:about' %}" class="nav-link lead mr-4 font-weight-bold">Sobre Nós</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'eventos:eventos' %}" class="nav-link lead mr-4 font-weight-bold">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'parcels:todo' %}" class="nav-link lead mr-4 font-weight-bold">Parcelas</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'myapp:myview' %}" class="nav-link lead mr-4 font-weight-bold">Upload</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'grupos:grupo' %}" class="nav-link lead mr-4 font-weight-bold">Grupos</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        
    {% block script %}
    {% endblock script %}

</body>

</html>